/* Menu */


body[data-sidebar-size="collapsed"] .main-menu-inner{
    display: none;
    /* transition-duration: 300ms !important; */
    
  }
  body[data-sidebar-size="collapsed"] .page-wrapper{
    width: 100% !important;
  }
  body[data-sidebar-size="collapsed"] .topbar{
    margin-left: 0px !important;
    left: 0;
   /* @apply ml-[92px]; */
   }
  // [dir="rtl"] body[data-sidebar-size="collapsed"] .topbar{
  //   margin-left: 0 !important;
  //   margin-right: 92px !important;
   
   
  // }
  body[data-sidebar-size="collapsed"] .button-menu-mobile i{
    transform: rotate(180deg);
  }
  [dir="rtl"] body[data-sidebar-size="default"] .button-menu-mobile i{
    transform: rotate(180deg);
  }
  
  [dir="rtl"] body[data-sidebar-size="collapsed"] .button-menu-mobile i{
    transform: rotate(0deg);
  }

  .main-menu-inner{
    @apply bg-transparent;
  }

@media (max-width: 1024px) {
    body[data-sidebar-size="collapsed"] {
        .main-menu-inner,
        .bg-iconbar{
           display:  none !important;
        }
        .topbar {
          margin-left: 0 !important;
      }
    }
    .main-menu-inner{
        @apply bg-gray-50 dark:bg-slate-900;
    }
}

[role="tab"].active{
  color: theme('colors.blue.600') !important;
  border-color: theme('colors.blue.600') !important; 
}


[role="tab"].active:hover{
color: theme('colors.blue.600') !important;
border-color: theme('colors.blue.600') !important; 
}

[role="tab-pill"].active{
color: theme('colors.slate.600') !important;
border-color: theme('colors.slate.300') !important; 
}
.dark [role="tab-pill"].active{
color: theme('colors.slate.300') !important;
border-color: theme('colors.slate.700') !important; 
}

[role="tab-pill"].active:hover{
color: theme('colors.slate.600') !important;
border-color: theme('colors.slate.300') !important; 
} 
.dark [role="tab-pill"].active:hover{
color: theme('colors.slate.200') !important;
border-color: theme('colors.slate.600') !important; 
} 
  
[dir="ltr"] .icon-body .tab-menu .menu-items .menu-link[aria-selected="true"]:before{
  content: "";
  position: absolute;
  left: 48px;
  top: 22px;
  border-right: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  @apply dark:border-r-slate-900 border-r-slate-500/10 ;
}

[dir="rtl"] .icon-body .tab-menu .menu-items .menu-link[aria-selected="true"]:before{
  content: "";
  position: absolute;
  right: 48px;
  top: 22px;
  border-left: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  @apply border-l-slate-500/10 dark:border-l-slate-900;
}
.nav {
  .nav-item {
    .nav-link{
      @apply dark:text-gray-400; 
      &.active{
        @apply text-primary-500 dark:text-primary-500;
      }
    }
  }
  .nav-link{
    @apply dark:text-gray-400; 
    &[aria-expanded="true"]{
      @apply text-primary-500 bg-gray-50 dark:text-primary-500 dark:bg-gray-800/20;
    }
  }
}